<div class="row">
  

    
   <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Review from Day-1</td> </tr>
      <tr> <td>10:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder">Dataframes and Plotting</a></td> </tr>
      <tr> <td>11:00</td>  <td>Mate/Coffee/etc. Break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder">Loops and Iteration - Automating Repeated Tasks</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder">Writing Functions</a></td> </tr>
      <tr> <td>15:30</td>  <td>Mate/Coffee/etc. Break</td> </tr>
      <tr> <td>16:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder">Conditionals and Programming Style</a></td> </tr>
      <tr> <td>17:30</td>  <td>END of Day-2</td> </tr>
    </table>
  </div>
    
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version control with Git - 1</a></td> </tr>
      <tr> <td>11:00</td>  <td>Mate/Coffee/etc. Break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version control with Git - 2</a></td> </tr>
      <tr> <td>12:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:45</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
    
</div>

