
<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers. You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
 </p>

<p id="language">
  <strong>
    The course will be conducted in English language.
  </strong>
  Before registering, please make sure that you have basic understanding of English. We will have several helpers in the classroom who can help you with any personal discussion in Spanish language.
</p>
